@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

*{
  font-family: "Poppins", sans-serif;
}

span{
  font-family: inherit;
  font-weight: inherit;

}
.shadow-scheme1-shadow{
  box-shadow: 3px 3px 0 0 #8f9bbc;
}

.shadow-scheme1-shadow:hover{
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0 0 #8f9bbc;
}